body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .capture-area {
    width: 1280px;
    height: 720px;
    background-color: #eef;
    margin: 20px auto;
    border: 2px solid #333;
    box-sizing: border-box;
    position: relative;
    background: url('templateSchedule.png') no-repeat center center / cover;
  }

  .parentDiv{
    width: 991px;
    height: 67px;
  }